.available {
	color: black;
	font-size: 1.5rem;
	font-weight: bolder;
	margin-left: 20px;
}

.facilities img {
	width: 30px;
	text-align: left;
}

.facilities li {
	margin-bottom: 20px;
	text-align: left;
	float: left;
}

.tripadvisor-logo, .rating {
    width: 47%;
    max-width: 47%;
    margin-top: 20px;
}

.results-sidebar-wrapper img {
	max-width: 50px;
}
