.available {
	color: black;
	font-size: 1.5rem;
	font-weight: bolder;
	margin-left: 20px;
}

.facilities-container {
	border-bottom: 1px solid white;
	min-width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.facilities {
	display: inline-block;
	width: 49%;
}

.facilities img {
	width: 30px;
	text-align: left;
}

.facilities li {
	margin-bottom: 20px;
	text-align: left;
	float: left;
}

.facilities .columns {
	padding: 0;
}

.facility-icon {
	padding: 0;
}

.tripadvisor-logo, .rating {
    width: 47%;
    max-width: 47%;
    margin-top: 20px;
}

.results-sidebar-wrapper img {
	max-width: 50px;
}

.btn.btn-link {
	background-color: none;
	display: block;
	text-align: center;
	line-height: 100px;
	font-size: 1.5rem;
	color: white;
	transition: all .2s ease-in;
}

.btn.btn-link:hover {
	background-color:rgba(255, 255, 255, .4);
}

.btn.btn-link img {
	margin-left: 20px;
}

.details-container {
	padding: 20px;
	padding-left: 0;
	background-clip: padding-box;
	border: 20px solid transparent;
}

.details-container h2 {
	font-size: 1.5rem;
}

.details-container td {
	font-size: 1rem;
}

.details-container h4 {
	font-size: 1.5rem;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.details-container .rating,
.details-container .tripadvisor-logo {
	width: 180px;
}

.details-container .tripadvisor-logo {
	float: left;
}

.details-container .rating {
	float: right;
}

.social-links {
	margin-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid white;
}

.social-link {
	transition: transform 0.2s ease-in;
}

.social-link:hover {
	transform: scale(1.2);
}

.share {
	margin-top: 10px;
	margin-bottom: 20px;
}

.address {
	margin-top: 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.address p {
	font-size: 1.1rem;
	margin: 0;
}

.address .telephone {
	margin: 10px 0;
}

#detailsMap {
	height: 500px;
}
.promotions {
	border-bottom: 1px solid white;
}

.category {
	border-bottom: 1px solid white;
	padding-bottom: 10px;
}


@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1024px) {
   	#detailsMap {
   		height: 350px;
   	}
}

@media screen and (max-width: 640px) {
   	#detailsMap {
   		height: 280px;
   	}
}


