#search-header {
    color: #458CCC;
    margin-top: 25px;
}
/* Gap between search content sections */
#custom-search {
	border: 20px solid transparent;
    border-left: 40px solid transparent;
}

#region-search {
	border: 20px solid transparent;
    border-right: 40px solid transparent;
}

/* Let's Go button hover effect */
#goBtn:hover {
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

@media screen and (max-width: 1200px) {
    /* Reduce height of blue background as screen shrinks */
    .columns.landing {
		min-height: 630px;
	}
}

@media screen and (max-width: 1024px) {
    /* Make the gaps equal size when divs collapse onto next line */
    #custom-search {
        border-left: 20px solid transparent;
    }

    #region-search {
        border-right: 20px solid transparent;
    }

    .mapUk {
 		width: 45%;
 	}
}

@media screen and (max-width: 640px) {
    .mapUk {
 		width: 75%;
 	}
}
