/* Needed for sticky footer on this page */
.sticky-footer, .overlay:after {
    height: auto;
}

.rating,
.tripadvisor-logo {
	margin-top: 5px;
	width: 90%;
	text-align: right;
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 640px) {
    .results-sidebar-wrapper,
    .results-sidebar-wrapper form {
    	
	}

	.mobile-nav li {
		float: none;
		width: 33.3%;
		margin: 0 auto;
	}
}

