.rating,
.tripadvisor-logo {
	margin-top: 5px;
	width: 90%;
	text-align: right;
}

/* move icons closer towards slider in sidebar */
i.fa.fa-plus {
	margin-left: -20px;
}

i.fa.fa-minus {
	margin-right: -20px;
}
/* Results */
.result h2 {
	font-size: 1.4em;
	margin-bottom: 0;
}

.result p{
	font-size: 1em;
}

table tbody td, table tbody th {
	font-size: 1em;
}

.category {
	font-size: 1.1rem;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.category-list li {
	padding: 4px;
	display: block;
	margin-bottom: 5px;
	color: #ffffff;
}

.category-list li:hover {
	/* background-color: rgba(255,255,255,0.41); */
	transition: all .2s ease-in-out;
}

.selected:hover {
	color: white;
}

.selected {
	background-color: rgba(255,255,255,0.41);
	/* box-shadow: 0px 0px 3px rgba(75, 75, 75, 0.66); */
}

.results-sidebar-wrapper form {
	padding-bottom: 15px;
}

.sort {
	margin-top: 15px;
	min-width: 200px;
	max-width: 20%;
	color: grey;
}

/*   Style the tab links    */
.mobile-nav li {
    width: 50%;
    float: left;
    padding: 5px 0;
    background-color: #458CCC;
    border-bottom: solid 4px #458CCC;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*   ease in bottom border of tab link  */
/* .mobile-nav li:hover {
    border-color: #FFFFFF;
    transition: all .2s ease-in-out;
} */

li.nav-selected{
    border-bottom: solid 4px #FFFFFF;
}


@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1024px) {
   	.sort {
		max-width: 100%;
	}

   	.region {
   		width: 100%;
   	}

   	/* Results */
	.result h2 {
		font-size: 1.4em;
	}

	.result p{
		font-size: 0.9em;
	}

	table tbody td, table tbody th {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 640px) {
	.mobile-nav li {
		float: none;
		width: 33.3%;
		margin: 0 auto;
	}

	.mobile-nav span {
		margin-right: 10px;
	}

	.sort {
		max-width: 60%;
	}

	.region {
   		width: 49%;
   	}

   	i.fa.fa-plus {
	margin-left: -5px;
	}

	i.fa.fa-minus {
		margin-right: -5px;
	}

	.result h2 {
		font-size: 1.1em;
	}

	.result p{
		font-size: 0.8em;
	}

	table tbody td, table tbody th {
		font-size: 0.9em;
	}

	.category {
		margin-bottom: 5px;
	}

	.category-list li {
		text-align: center;
	}

	#adjust-search h4 {
		font-size: 1.3em;
	}
}

