.box {
	float: left;
	width: 100%;
}

.box-half {
	float: left;
	width: 50%;
}

.box-third {
	float: left;
	width: 33%;
}

.box-two-thirds {
	float: left;
	width: 66%;
}

.box-quarter {
	float: left;
	width: 25;
}